<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nuance.PowerCast.TestPowerCast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="auth0_domain" value="https://nuancehdp.auth0.com/" />
    <add key="auth0_client_id" value="your client id goes here" />
    <add key="auth0_client_secret" value="your client secret goes here" />
    <add key="auth0_hub_audience" value="https://nuancehdp.com/PowerCast/Hub" />
    <add key="connector_url" value="http://localhost:9292" />
    <add key="subscribe_callback_port" value="8181" />
		<add key="logFilePath" value="\Nuance\PowerScribeOne\Logs\" />
	</appSettings>
  <userSettings>
    <Nuance.PowerCast.TestPowerCast.Properties.Settings>
      <setting name="txtSubEvents" serializeAs="String">
        <value />
      </setting>
      <setting name="version" serializeAs="String">
        <value />
      </setting>
      <setting name="txtAccession" serializeAs="String">
        <value />
      </setting>
      <setting name="txtMRN" serializeAs="String">
        <value />
      </setting>
    </Nuance.PowerCast.TestPowerCast.Properties.Settings>
  </userSettings>
</configuration>